<!doctype html>
<html>
   <body>
   
      <h1>Pacient stories</h1>
      <ul>
         <li>
            <a href="/pacient-story">Pacient story A</a>
         </li>
         <li>
            <a href="/pacient-story">Pacient story B</a>
         </li>
         <li>
            <a href="/pacient-story">Pacient story C</a>
         </li>
         <li>
            <a href="/pacient-story">Pacient story D</a>
         </li>
         <li>
            <a href="/pacient-story">Pacient story E</a>
         </li>
      </ul>
   </body>
</html>