<!doctype html>
<html>

<body>
   <h1>Pacient stories</h1>
   <nav>
      <ul>
         {% for item in data %}
         {% for key, value in item.items() %}

         <li>
            {% if key == "title" %}
            <h1>{{value}}</h1>
            {% endif %}
            {% if key == "subtitle" %}
            <h3>{{value}}</h3>
            {% endif %}
            {% if key == "image" %}
            <image class="image list-item" src={{value}} width="100" />
            {% endif %}
         </li>

         {% endfor %}
         {% endfor %}
      </ul>
   </nav>
</body>

</html>